.allprodBtn:hover{
    border: 1px solid black !important;
}
.allprodBtn{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-img{
    width: 100%;
}

@media (max-width : 600px){
    .leftsidebar{
        height: fit-content !important;
        background-color: white !important;
        top: 70px !important;
    }
}